@import url("theme.css");


ul.wy-breadcrumbs { display: flex;
    align-items: baseline;}

ul.wy-breadcrumbs > li.spacer {
    flex: 1;
}

.wy-side-nav-search > div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    color: hsla(0,0%,100%,.3);
}
